@mixin center-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calendar {
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 7, 0.85);
  box-sizing: border-box;
  padding: 45px;
  z-index: 1;

  &__matches {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #4CBB17;
    box-sizing: border-box;
    padding: 16px;

    &_header {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      @include font-type(18px, 20px, #7CFC00, bold);
      margin-bottom: 24px;
    }

    &_item {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      @include font-type(16px, 20px, #fffafa, normal);
      box-sizing: border-box;
      padding: 12px 0px;
      border-top: 1px dashed #4CBB17;
    }

    &_matchday {
      grid-column: span 2;
      @include center-text();
      border-right: 1px solid #4CBB17;
    }

    &_date {
      grid-column: span 3;
      @include center-text();
      border-right: 1px solid #4CBB17;
    }

    &_teams {
      grid-column: span 6;
      @include center-text();
      border-right: 1px solid #4CBB17;
    }

    &_score {
      grid-column: span 1;
      @include center-text();
    }
  }

  &__filters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

    &_day {
      position: relative;
      width: 100%;
      height: 32px;
      background: transparent;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      color: #ffffff;
      padding: 0 22px;
      appearance: none;
      background: url('~@/assets/img/main/arrow_down.png') no-repeat right;
      background-position-x: calc(100% - 22px);
      background-size: 24px 24px;
      outline: none;
      @include font-type(14px, 20px, #fffafa, normal);
      cursor: pointer;

      & option {
        margin-bottom: 8px;
        box-sizing: border-box;
        @include font-type(18px, 20px, #fffafa, normal);
        background: #000000;
      }
    }

    &_date {
      position: relative;
      width: 100%;
      height: 32px;
      background: transparent;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      color: #ffffff;
      padding: 0 22px;
      outline: none;
      cursor: pointer;
      @include font-type(14px, 20px, #fffafa, normal);
    }
  }
}

@media screen and (max-width: 1200px) {
  .calendar {
    padding: 30px;

    &__matches {
      &_header {
        @include font-type(14px, 18px, #7CFC00, bold);
      }

      &_item {
        @include font-type(12px, 16px, #fffafa, normal);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .calendar {
    padding: 24px;

    &__mobile {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__filters {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;

      & span {
        display: flex;
        align-items: center;
        @include font-type(14px, 20px, #fffafa, normal);
      }

      &_day {
        padding: 8px;
        background-position-x: calc(100% - 8px);
        @include font-type(12px, 16px, #fffafa, normal);
  
        & option {
          @include font-type(12px, 16px, #fffafa, normal);
        }
      }

      &_date {
        padding: 8px;
        @include font-type(12px, 16px, #fffafa, normal)
      }
    }

    &__matches {
      overflow-x: auto;

      &_header {
        width: 700px;
        @include font-type(12px, 14px, #7CFC00, bold);
      }

      &_item {
        width: 700px;
        @include font-type(10px, 12px, #fffafa, normal);
      }
    }
  }
}