@import '@/assets/scss/main.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  box-sizing: border-box;
  padding: 15px 75px;
  z-index: 2;

  &__logo {
    display: block;
    height: 100px;
    cursor: pointer;
    transition: all 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    @include font-type(36px, 48px, #77bb2f, bold);
    text-transform: uppercase;
  }

  &__git {
    display: flex;
    align-items: center;
    @include font-type(14px, 18px, #fffafa, normal);
    transition: all 0.2s;

    &:hover {
      opacity: 0.75;
      transform: scale(0.95);
    }

    &_logo {
      margin-left: 8px;
      display: block;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}