.team {
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 7, 0.85);
  box-sizing: border-box;
  padding: 45px;
  z-index: 1;

  &__filters {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;

    &_date {
      position: relative;
      width: 100%;
      height: 32px;
      background: transparent;
      border: 1px solid #2f2f2f;
      box-sizing: border-box;
      color: #ffffff;
      padding: 0 22px;
      outline: none;
      cursor: pointer;
      @include font-type(14px, 20px, #fffafa, normal);
    }
  }

  &__info {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_img {
      margin-right: 32px;
      width: 150px;
      height: 150px;
      object-fit: contain;
      object-position: center;
    }

    &_desc {
      display: flex;
      flex-direction: column;
    }

    &_name {
      @include font-type(32px, 36px, #77bb2f, bold);
    }

    &_area {
      margin-top: 6px;
      @include font-type(28px, 32px, #77bb2f, normal);
    }

    &_site {
      margin-top: 12px;
      @include font-type(16px, 24px, #77bb2f, normal);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .team {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding: 24px;

    &__filters {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 16px;
      row-gap: 16px;

      & span {
        display: flex;
        align-items: center;
        @include font-type(14px, 20px, #fffafa, normal);
      }
  
      &_date {
        padding:8x;
        @include font-type(12px, 16px, #fffafa, normal);
      }
    }

    &__info {
      margin-top: 24px;
  
      &_img {
        margin-right: 24px;
        width: 75px;
        height: 75px;
      }
  
      &_name {
        @include font-type(24px, 28px, #77bb2f, bold);
      }
  
      &_area {
        margin-top: 0px;
        @include font-type(20px, 24px, #77bb2f, normal);
      }
  
      &_site {
        margin-top: 8px;
        @include font-type(14px, 18px, #77bb2f, normal);
        text-decoration: underline;
      }
    }
  }
}